A *function* is an object that maps a tuple of argument values to a return value. This note discusses how to define and work with functions.

## Named Functions

One way to define a *named function* is to use the `function` keyword, followed by the name of the function and a tuple of names of arguments.

In [1]:
function f(x, y)
    return x + y
end

f (generic function with 1 method)

We can also define functions compactly using assignment form.

In [2]:
f(x, y) = x + y;

In [3]:
f(3, 0.1415)

3.1415

## Anonymous Functions

An *anonymous function* is not given a name, though it can be assigned to a named variable. One way to define an anonymous function is to use the arrow operator.

In [4]:
h = x -> x^2 + 1 # assign anonymous function to a variable

#11 (generic function with 1 method)

In [5]:
g(f, a, b) = [f(a), f(b)]; # applies function f to a and b and returns array.

In [6]:
g(h, 5, 10)

2-element Vector{Int64}:
  26
 101

In [7]:
g(x->sin(x)+1, 10, 20)

2-element Vector{Float64}:
 0.4559788891106302
 1.9129452507276277

## Optional Arguments

We can specify optional arguments by setting default values.

In [8]:
f(x=10) = x^2;

In [12]:
@show f();
@show f(3);

f() = 100
f(3) = 9

In [13]:
f(x, y, z=1) = x*y + z;

In [15]:
@show f(1, 2, 3);
@show f(1, 2);

f(1, 2, 3) = 5
f(1, 2) = 3

## Keyword Arguments

Functions with keyword arguments are defined using a semicolon.

In [16]:
f(; x=10) = x + 1;

In [18]:
@show f();
@show f(x=10);

f() = 11
f(x = 10) = 11

In [19]:
f(x, y=10; z=2) = (x+y)*z;

In [21]:
@show f(1);
@show f(2, z=3);
@show f(2, 3);
@show f(2, 3, z=1);

f(1) = 22
f(2, z = 3) = 36
f(2, 3) = 10
f(2, 3, z = 1) = 5

## Function Overloading

The types of the arguments passed to a function can be specified using the double colon operator. If multiple functions of the same name are provided, Julia will execute the appropriate function.

In [22]:
f(x::Int64) = x + 10;
f(x::Float64) = x + 3.1415;

In [24]:
@show f(1);
@show f(1.0);
@show f(1.3);

f(1) = 11
f(1.0) = 4.141500000000001
f(1.3) = 4.4415000000000004

The implementation of the most specific function will be used.

In [25]:
f(x) = 5;
f(x::Float64) = 3.1415;

In [26]:
@show f([3, 2, 1]);
@show f(0.00686499699);

f([3, 2, 1]) = 5
f(0.00686499699) = 3.1415